 {% include 'AdminPageHeader.html' %}
<html>
<head>
    <style>
        #cs {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 60%;
        }

            #cs td, #cs th {

                padding: 8px;
            }



            #cs tr:hover {
                background-color: #ddd;
            }

            #cs th {
                padding-top: 12px;
                padding-bottom: 12px;
                text-align: left;
            }
    </style>
</head>
<body>
<h2 align="center">Edit Manufacture</h2>
<form id="form1" name="form1" method="post" action="EditDistributor">

        <table width="318" border="0" id="cs" align="center">
            <input type="hidden" name="id" id="dd" value="{{ data['idmanufacturer'] }}">


            <tr>
                <th>Name</th>
                <td>
                    <label>
                        <input type="text" name="TxtName" value="{{ data['name'] }}" required class="form-control"/>
                    </label>
                </td>
            </tr>

            <tr>
                <th>Address</th>
                <td>
                    <label>
                        <textarea name="TxtAddress" value="{{ data['address'] }}" class="form-control" required>{{ data['address'] }}</textarea>
                    </label>
                </td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>
                    <label>
                        <input type="text" class="form-control" name="TxtPhone"  value="{{ data['phone'] }}"required pattern="[6-9]{1}[0-9]{9}" title="incorrect phone no"/>
                    </label>
                </td>
            </tr>
            <tr>
                <th>Email</th>
                <td>
                    <label>
                        <input type="email" class="form-control" value="{{ data['email'] }}" name="TxtEmail" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"/>
                    </label>
                </td>
            </tr>


            <tr>
                <th>Password</th>
                <td>
                    <label>
                        <input type="password" name="TxtPassword" value="{{ data['password'] }}" class="form-control" required />
                    </label>
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>
                    <label>
                        <input type="submit" name="Submit" value="Submit" class="section-btn"/>
                    </label>
                </td>

        </table>

</form>
</body>
</html>

{% include 'LoginFooter.html' %}
