{% include 'user/UserPageHeader.html' %}
<head>
    <style>
         #cs {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

            #cs td, #cs th {

                padding: 8px;
            }





            #cs th {
                padding-top: 12px;
                padding-bottom: 12px;
                text-align: left;
            }
    </style>
</head>

<h2>Ordered Items</h2>
<table id="cs">
    <tr>
        <th>Sl.No</th>
        <th>Name</th>

        <th>Price</th>
        <th>Model</th>
<th>status</th>
        <th>Quantity</th>
        <th>Distributor</th>
        <th>Image</th>




    </tr>
    {% for row in data %}

  <tr>
      <td height="87"><div align="center">{{loop.index }}</div></td>
      <td><div align="center">{{ row['name'] }}</div></td>

      <td><div align="center">{{ row['price'] }}</div></td>
      <td><div align="center">{{ row['model'] }}</div></td>
      <td><div align="center">{{ row['status'] }}</div></td>

<td><div align="center">{{ row['quantity'] }}</div></td>
      <td><div align="center">{{ row['iddistributer'] }}</div></td>


        <td><img height="200" width="200" src="../static/image/{{ row['img_path'] }}" alt="dfgd"></td>




         </tr>


        {% endfor %}


</table>
{% include 'LoginFooter.html' %}